<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
     <p>Drashti Adhyaru  N01539964</p>
    
    </header>
<main>
  {{{body}}}
</main>
    

    <footer>
      <p>drashtiadhyaru19@gmail.com</p>
    </footer>
  </body>
</html>